### SVM with Sigmoid Kernel
Source of code: https://stackabuse.com/implementing-svm-and-kernel-svm-with-pythons-scikit-learn/

In [1]:
import pandas as pd
import sklearn

ere we import the encoded dataset

In [2]:
df = pd.read_csv('Deezer_encoded_Big.csv')
df

,Unnamed: 0,genre_id,ts_listen,media_id,album_id,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,0,1358,2235113,573,224,4507,1,0,223,0,0,9241,8766,29,0
1,1,1366,2207566,1808,573,5016,2,1,171,0,0,16547,8962,30,1
2,2,14,1421748,3158,1006,8002,2,1,149,1,1,7665,2078,29,1
3,3,6,1899424,19977,1484,3457,0,0,240,0,1,1580,782,30,0
4,4,6,401913,5029,1555,5683,0,0,150,0,1,1812,2248,24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558580,7558580,0,2090512,450561,150765,1302,1,0,268,1,0,2592,110,24,0
7558581,7558581,0,1753932,451728,151100,8860,0,0,974,0,0,9028,9875,22,0
7558582,7558582,0,1772723,451824,151147,8823,0,2,175,1,0,393,522,26,0
7558583,7558583,0,1731221,451825,151147,8823,0,0,126,1,1,4507,191,29,1
7558584,7558584,0,1806535,451942,151194,8866,0,0,177,1,1,8129,2969,30,1

We drop an unnnecessary column and take a sample of 1% of the dataset.

In [3]:
df= df.drop(columns=['Unnamed: 0'])
df

,genre_id,ts_listen,media_id,album_id,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,1358,2235113,573,224,4507,1,0,223,0,0,9241,8766,29,0
1,1366,2207566,1808,573,5016,2,1,171,0,0,16547,8962,30,1
2,14,1421748,3158,1006,8002,2,1,149,1,1,7665,2078,29,1
3,6,1899424,19977,1484,3457,0,0,240,0,1,1580,782,30,0
4,6,401913,5029,1555,5683,0,0,150,0,1,1812,2248,24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558580,0,2090512,450561,150765,1302,1,0,268,1,0,2592,110,24,0
7558581,0,1753932,451728,151100,8860,0,0,974,0,0,9028,9875,22,0
7558582,0,1772723,451824,151147,8823,0,2,175,1,0,393,522,26,0
7558583,0,1731221,451825,151147,8823,0,0,126,1,1,4507,191,29,1
7558584,0,1806535,451942,151194,8866,0,0,177,1,1,8129,2969,30,1

In [4]:
df1 = df.sample(frac =0.01) 
df1

,genre_id,ts_listen,media_id,album_id,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
1141313,25,1532875,222054,72263,7629,0,0,176,0,1,1122,46684,22,0
2391815,0,251790,438365,147150,8832,0,0,182,1,0,4538,11908,20,0
198029,0,389116,425133,143089,8797,0,0,252,0,1,3534,41860,18,1
7280548,0,317670,442000,148271,8839,0,0,182,0,0,7360,22597,18,1
4765083,1,412985,86590,25410,4802,0,2,225,0,0,6528,5125,28,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6382712,6,1451257,92492,27177,4026,0,0,281,1,0,3119,362,27,1
4107922,6,230174,273170,89858,7992,0,0,216,0,0,14226,2616,20,0
838617,59,108585,40488,12054,5584,0,0,212,1,1,6468,1631,18,0
2831592,0,374185,393070,132090,8660,0,0,183,1,0,2182,6615,30,1
613059,1433,2060663,85728,25222,7997,0,0,235,1,0,587,7243,29,0

Here we split the dataset into features and label

In [5]:
features2 = df1.iloc[:, :-1].values
label2 = df1.iloc[:, 13].values

Here we split the dataset into train and validation data. We do a split of 80/20.

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(features2, label2, test_size=0.20, random_state=109)

We define a SVM classifier and define the kernel as Sigmoid.

In [7]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='sigmoid')
svclassifier.fit(X_train, y_train)

SVC(kernel='sigmoid')

In [8]:
y_pred = svclassifier.predict(X_test)

Finally, we plot the accuracy of that model. We can observe that we reached an accuracy of 69%

In [9]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1564 3240]
 [3133 7181]]
              precision    recall  f1-score   support

           0       0.33      0.33      0.33      4804
           1       0.69      0.70      0.69     10314

    accuracy                           0.58     15118
   macro avg       0.51      0.51      0.51     15118
weighted avg       0.58      0.58      0.58     15118

In [10]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.5109000772899968