### SVM with Sigmoid Kernel
Source of Code: https://stackabuse.com/implementing-svm-and-kernel-svm-with-pythons-scikit-learn/

In [1]:
import pandas as pd
import sklearn

Here we import the encoded dataset

In [2]:
df = pd.read_csv('Deezer_encoded_Big.csv')
df

,Unnamed: 0,genre_id,ts_listen,media_id,album_id,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,0,1358,2235113,573,224,4507,1,0,223,0,0,9241,8766,29,0
1,1,1366,2207566,1808,573,5016,2,1,171,0,0,16547,8962,30,1
2,2,14,1421748,3158,1006,8002,2,1,149,1,1,7665,2078,29,1
3,3,6,1899424,19977,1484,3457,0,0,240,0,1,1580,782,30,0
4,4,6,401913,5029,1555,5683,0,0,150,0,1,1812,2248,24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558580,7558580,0,2090512,450561,150765,1302,1,0,268,1,0,2592,110,24,0
7558581,7558581,0,1753932,451728,151100,8860,0,0,974,0,0,9028,9875,22,0
7558582,7558582,0,1772723,451824,151147,8823,0,2,175,1,0,393,522,26,0
7558583,7558583,0,1731221,451825,151147,8823,0,0,126,1,1,4507,191,29,1
7558584,7558584,0,1806535,451942,151194,8866,0,0,177,1,1,8129,2969,30,1

We drop an unnnecessary column and take a sample of 1% of the dataset.

In [3]:
df= df.drop(columns=['Unnamed: 0'])
df

,genre_id,ts_listen,media_id,album_id,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,1358,2235113,573,224,4507,1,0,223,0,0,9241,8766,29,0
1,1366,2207566,1808,573,5016,2,1,171,0,0,16547,8962,30,1
2,14,1421748,3158,1006,8002,2,1,149,1,1,7665,2078,29,1
3,6,1899424,19977,1484,3457,0,0,240,0,1,1580,782,30,0
4,6,401913,5029,1555,5683,0,0,150,0,1,1812,2248,24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558580,0,2090512,450561,150765,1302,1,0,268,1,0,2592,110,24,0
7558581,0,1753932,451728,151100,8860,0,0,974,0,0,9028,9875,22,0
7558582,0,1772723,451824,151147,8823,0,2,175,1,0,393,522,26,0
7558583,0,1731221,451825,151147,8823,0,0,126,1,1,4507,191,29,1
7558584,0,1806535,451942,151194,8866,0,0,177,1,1,8129,2969,30,1

In [4]:
df1 = df.sample(frac =0.01) 
df1

,genre_id,ts_listen,media_id,album_id,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
3746305,48,1621822,141042,44261,6977,2,1,208,0,0,2047,33388,28,1
1757019,0,1434474,404374,136072,8706,1,0,200,0,0,4663,52401,26,1
1703662,23,1207564,152123,47655,6712,2,1,244,1,1,789,18331,24,1
6694526,23,477196,164642,52052,7225,0,0,239,0,0,497,42605,25,1
1219401,0,1689574,434048,146028,8823,0,0,214,0,1,3127,980,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2919140,327,95489,259668,84966,7918,2,1,160,0,0,4292,30266,27,1
7489426,110,1974092,236743,77059,7744,0,0,240,0,0,979,37787,24,1
5515800,437,298392,89642,26314,6275,2,1,301,0,1,76,1079,24,1
2600784,0,859842,335346,112164,8352,0,0,269,0,0,827,29320,19,0
4601541,437,425497,40221,11998,5891,0,0,234,0,0,258,87,29,0

Here we split the dataset into features and label

In [5]:
features2 = df1.iloc[:, :-1].values
label2 = df1.iloc[:, 13].values

Here we split the dataset into train and validation data. We do a split of 80/20.

In [6]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(features2, label2, test_size=0.20, random_state=109)

We define a SVM classifier and define the kernel as linear.

In [7]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(kernel='linear')

In [8]:
y_pred = svclassifier.predict(X_test)

Finally, we plot the accuracy of that model. We can observe that we reached an accuracy of 69%

In [9]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[   25  4802]
 [   64 10227]]
              precision    recall  f1-score   support

           0       0.28      0.01      0.01      4827
           1       0.68      0.99      0.81     10291

    accuracy                           0.68     15118
   macro avg       0.48      0.50      0.41     15118
weighted avg       0.55      0.68      0.55     15118

In [10]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.49948008699888957